body {
    background-color: #ededed;
}

a {
    text-decoration: none;
}

/* This section is nav bar for all pages */

.topnav {
    background-color: #111111;
    overflow: hidden;
    height: 56px;
    width: 100%;
}

#headerName {
    font-size: 48px;
    color: #FFF;
    float: left;
    margin-left: 15px;
}

.navItems {
    font-size: 28px;
    color: #ccc;
    float: right;
    margin-right: 50px;
    margin-top: 10px;
}

/* headers */

h1 {
    color: #111111;
    font: Times;
    margin: 5px, 5px, 5px, 5px;
    
}

/* contact page */

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit]{
    background-color: rgb(65, 95, 179);
    color: #111111;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* This section is for container */

.container1 {
    background-color: #FFF;
    text-align: center;
    width: 750px;
    padding: 20px;
    height: 900px;
    
}

.container2 {
    background-color: #FFF;
    margin-top: 50px;
    width: 750px;
    padding: 20px;
    height: 900px;
    margin-top: 25px;

}

/* This section is for footer */

.footer {
    font: 6px;
    text-align: center;
    position: fixed;
    bottom: 0;
    background-color: #111111;
    width: 100%;
}