body {
    background-color: #ededed;
}

/* This section is nav bar for all pages */

.topnav {
    background-color: #FFFFFF;
    font: 12px;
    position: top;
    text-align: right;
}


h1 {
    color: #FFFFFF;
    background-color: #4AAAA5;
    font: Times;
    margin: 5px, 5px, 5px, 5px;
}

h2 {
    text-decoration-color: #4AAAA5;
    border-bottom: #666666;
    font: Times;
}

h3 {
    
}

/* This is for contact page */

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit]{
    background-color: #4AAAA5;
    color: #111111;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* This section is for container */

.container1 {
    background-color: #FFF;
    padding-bottom: 20px;
    height: 450px;
    margin-top: 100px;
    margin-right:300px;
    margin-bottom: 100px;
    margin-left:300px;
    border-style: solid;
    border: 5px;
    border-color: #111111;
}

.container2 {
    background-color: #FFFFFF;
    margin: 200px, 200px, 200px, 200px;
}



img {
    float: left;
}

p {
    text-indent: 30px;
    margin-left: 30px;
}

/* This section is for portofio page*/

.container3 {

}


/* This section is for footer */

.footer {
    font: 9px;
    text-align: center;
    position: bottom;
    background-color: #666666;
    padding-top: 30px;
    border: 5px;
    border-color: #4AAAA5;
}